<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<style>
      body {
        margin: 0;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
      }
      .brutalist-container {
    margin-bottom: 38px; /* Adjust spacing here */
  }
</style>
<body>
<div class = form-container>
    <div class="brutalist-container">
    <input
    placeholder="Username"
    class="brutalist-input smooth-type"
    type="text"
    />
    <label class="brutalist-label">Username</label>
    </div>

    <div class="brutalist-container">
    <input
    placeholder="Email"
    class="brutalist-input smooth-type"
    type="text"
    />
    <label class="brutalist-label">Email</label>
    </div>

    <div class="brutalist-container">
    <input
    placeholder="Password"
    class="brutalist-input smooth-type"
    type="text"
    />
    <label class="brutalist-label">Password</label>
    </div>

    <div class="brutalist-container">
    <input
    placeholder="confirm Password"
    class="brutalist-input smooth-type"
    type="text"
    />
    <label class="brutalist-label">confirm Password</label>

    </div>
    <!-- From Uiverse.io by Z4drus --> 
<div class="button-container">
  <button class="button-3d">
    <div class="button-top">
      <span class="material-icons">LOGIN</span>
    </div>
    <div class="button-bottom"></div>
    <div class="button-base"></div>
  </button>
  <button class="button-3d">
    <div class="button-top">
      <span class="material-icons">SIGN UP</span>
    </div>
    <div class="button-bottom"></div>
    <div class="button-base"></div>
  </button>
</div>

</div>

</body>
</html>